<header class="fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>
                            <a [routerLink]="['/todos']">TODOS APP</a>
                        </h3>
                    </div>
                    <div class="col-lg-6 top-nav">
                        <nav>
                            <ul class="nav nav-pills float-right" >
                                <li class="nav-item">
                                    <a class="nav-link active" [routerLink]="'/page1'">page1</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" [routerLink]="'/page2'">page2</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>

  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main>
  
  <footer class="fixed-bottom">
    <div class="container">
        <p>Developed with &hearts; on Angular. By <a target="_blank" href="https://facebook.com/suresh.selvathurai">@suresh_selvathurai</a>. Github <a href="https://github.com/angular-online/todos-app" target="_blank">Repo</a></p>
    </div>
  </footer>