<p>{{title}}!</p>

<ul class="list-group list-group-flush todo-list">
    <li class="list-group-item" *ngFor="let todo of todos">
      <span class="align-left"  [ngClass]="{'compleated': todo.isCompleted}">{{ todo.title }}</span>
    
    <span class="badge badge-primary badge-pill">
        <span *ngFor="let tag of todo.tags; let i=index;">{{ tag.name }}<span *ngIf="i < todo.tags.length-1">, </span></span>
      </span>
      <span class="badge badge-primary badge-pill">{{ todo.category.name }}</span>
      <span class="badge badge-primary badge-pill">{{ todo.targetDate | date}}</span>
  </li>
    </ul>